config/site-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 2.4.0,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://maven.apache.org/SITE/2.0.0" targetNamespace="http://maven.apache.org/SITE/2.0.0">
  <xs:element name="site" type="SiteModel">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
         The &lt;code&gt;&amp;lt;site&amp;gt;&lt;/code&gt; element is the root of the site decoration descriptor.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SiteModel">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">
         The &lt;code&gt;&amp;lt;site&amp;gt;&lt;/code&gt; element is the root of the site decoration descriptor.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="bannerLeft" type="Banner">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Banner logo on the masthead of the site to the left.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bannerRight" type="Banner">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Banner logo on the masthead of the site to the right.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="publishDate" type="PublishDate">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Modify the date published display properties.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="Version">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Modify the version published display properties.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="edit" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.8.0+</xs:documentation>
          <xs:documentation source="description">
            The base url to edit Doxia document sources.
            In general, &lt;code&gt;${project.scm.url}&lt;/code&gt; value should do the job.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="poweredBy">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Powered by logos list.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="Logo" name="logo" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="skin" type="Skin">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The artifact containing the skin for the site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="body" type="Body">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The main site content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="custom">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">
            Custom configuration for use with customized Velocity templates. Data from this field are
            accessible in Velocity template from &lt;code&gt;$site.custom&lt;/code&gt; variable as DOM content.
            Example: &lt;code&gt;$site.custom.getChild( 'customElement' ).getValue()&lt;/code&gt;
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The full name of the project site.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="combine.self" type="xs:string" default="merge" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.6.0+</xs:documentation>
        <xs:documentation source="description">
             Whether to inherit configuration from a parent project site descriptor (&lt;code&gt;merge&lt;/code&gt;)
           or not (&lt;code&gt;override&lt;/code&gt;).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="requireParent" type="xs:boolean" default="false" use="optional">
      <xs:annotation>
        <xs:documentation source="version">2.0.0+</xs:documentation>
        <xs:documentation source="description">
             Whether this "site.xml" should inherit from a parent "site.xml". If set to "true" it fails the build in case a parent site descriptor cannot be retrieved.
             It does not necessarily need to be the direct parent but just a site descriptor anywhere in the parent hierarchy.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Banner">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Banner logo on the masthead of the site.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="image" type="Image">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">The image for the link.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The name to display for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="href" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The href to use for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="target" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.1+</xs:documentation>
        <xs:documentation source="description">Where the new document will be displayed when the user follows a link, i.e. _blank opens the new document in a new window.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">An image.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="src" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">2.0.0+</xs:documentation>
        <xs:documentation source="description">The source location.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="position" type="xs:string" default="left" use="optional">
      <xs:annotation>
        <xs:documentation source="version">2.0.0+</xs:documentation>
        <xs:documentation source="description">Where to place the image relative to the displayed name (left or right).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alt" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">2.0.0+</xs:documentation>
        <xs:documentation source="description">The alternative text to use.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="width" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">2.0.0+</xs:documentation>
        <xs:documentation source="description">The width to use.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="height" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">2.0.0+</xs:documentation>
        <xs:documentation source="description">The height to use.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="style" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">2.0.0+</xs:documentation>
        <xs:documentation source="description">The style to use.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Body">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">The main content.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="head" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.7.0+</xs:documentation>
          <xs:documentation source="description">Additional content (like JavaScript) to include in the HEAD block of the generated pages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="links">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A list of links to display in the navigation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="LinkItem" name="item" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="breadcrumbs">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A list of breadcrumbs to display in the navigation.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="LinkItem" name="item" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="menu" type="Menu" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A list of menus to include in the navigation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="footer" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.7.0+</xs:documentation>
          <xs:documentation source="description">If present, the contained text will be used instead of the generated copyright text.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinkItem">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">A link in the navigation.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="image" type="Image">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">The image for the link.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The name to display for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="href" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The href to use for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="target" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.1+</xs:documentation>
        <xs:documentation source="description">Where the new document will be displayed when the user follows a link, i.e. _blank opens the new document in a new window.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Menu">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">A menu in the navigation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="image" type="Image">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">The image for the menu.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="item" type="MenuItem" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A list of menu item.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The name to display for the menu.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="inherit" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">
            The way in which the menu is inherited. Can be one of : &lt;code&gt;top&lt;/code&gt;, &lt;code&gt;bottom&lt;/code&gt;.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="inheritAsRef" type="xs:boolean" default="false" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">
            If this is a reference, setting to &lt;code&gt;true&lt;/code&gt; means that it will be populated
            in the site, whereas if it is &lt;code&gt;false&lt;/code&gt;, it is populated in the parent and then inherited.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">
            Mark this menu as reference to a pre-defined menu: &lt;code&gt;reports&lt;/code&gt;, &lt;code&gt;modules&lt;/code&gt;
            or &lt;code&gt;parent&lt;/code&gt;. It will be populated at runtime with corresponding pre-defined content.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MenuItem">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">A menu item.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="MenuItem" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">A list of menu item.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="image" type="Image">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">The image for the link.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="collapse" type="xs:boolean" default="false" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">Whether to collapse children elements of an item menu (by default).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ref" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">A reference to a pre-defined menu item, such as a report (specified by the report goal
            name). Any elements explicitly given override those from the pre-defined reference.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The name to display for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="href" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The href to use for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="target" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.1+</xs:documentation>
        <xs:documentation source="description">Where the new document will be displayed when the user follows a link, i.e. _blank opens the new document in a new window.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PublishDate">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Modify display properties for date published.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="position" type="xs:string" default="left" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">Where to place the date published (left, right, navigation-top, navigation-bottom, bottom).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format" type="xs:string" default="yyyy-MM-dd" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">Date format to use.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timezone" type="xs:string" default="Etc/UTC" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.8.1+</xs:documentation>
        <xs:documentation source="description">

              The timezone to use. Use &lt;code&gt;system&lt;/code&gt; for the default locale for this instance
              of the Java Virtual Machine. Refer to &lt;code&gt;java.util.TimeZone&lt;/code&gt; for details.

        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Logo">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Power by logo on the navigation.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="image" type="Image">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">The image for the link.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The name to display for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="href" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">The href to use for the link.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="target" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.1+</xs:documentation>
        <xs:documentation source="description">Where the new document will be displayed when the user follows a link, i.e. _blank opens the new document in a new window.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Version">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Modify display properties for version published.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="position" type="xs:string" default="left" use="optional">
      <xs:annotation>
        <xs:documentation source="version">1.0.0+</xs:documentation>
        <xs:documentation source="description">Where to place the version published (left, right, navigation-top, navigation-bottom, bottom).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Skin">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">A skin artifact declaration.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The skin group ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The skin artifact ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">The skin version.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>
