docs/configuration.dtd

<!--
 DTD for a checkstyle configuration.
 -->
<!ELEMENT configuration (global*, check*)>
<!ELEMENT global (property*)>
<!ELEMENT check (tokens?, property?)>
<!ELEMENT tokens (#PCDATA)>
<!ELEMENT set-property EMPTY>

<!ATTLIST check classname CDATA #REQUIRED>
<!ATTLIST property name CDATA #REQUIRED
                   value CDATA #IMPLIED
                   from-global CDATA #IMPLIED
>