docs/configuration.dtd

<!--
 DTD for a checkstyle configuration.
 -->
<!ELEMENT configuration (global*, check*)>
<!ELEMENT global (set-property*)>
<!ELEMENT check (tokens?, set-property?)>
<!ELEMENT tokens (#PCDATA)>
<!ELEMENT set-property EMPTY>

<!ATTLIST check classname CDATA #REQUIRED>
<!ATTLIST set-property name CDATA #REQUIRED
                       value CDATA #IMPLIED
                       from-global CDATA #IMPLIED
>