docs/configuration.dtd

<!--
 DTD for a checkstyle configuration.
 -->
<!ELEMENT configuration (check*)>
<!ELEMENT check (tokens?, set-property?)>
<!ELEMENT tokens (#PCDATA)>
<!ELEMENT set-property EMPTY>

<!ATTLIST check classname CDATA #REQUIRED>
<!ATTLIST set-property name CDATA #REQUIRED
                       value CDATA #REQUIRED
>