docs/xmllogger.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD for XMLLogger output -->

<!ELEMENT checkstyle (file|error|exception)*>

<!ELEMENT file (error|exception)*>
<!ATTLIST file name CDATA #REQUIRED>

<!ELEMENT error EMPTY>
<!ATTLIST error
    line NMTOKEN #REQUIRED
    column NMTOKEN #IMPLIED
    message CDATA #REQUIRED
>

<!ELEMENT exception (#PCDATA)>